.resend-code {
  border: none;
  padding: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  color: #1890ff;
  &:hover {
    background: transparent;
    color: var(--darkGray);
  }
}

.visibility {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
