// .profile {
//   background-color: bisque;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.profile-container {
  position: relative;
  background-color: var(--darkGray);
  width: 500px;
  padding: 50px 70px;
  margin: auto;
  margin-top: 80px;
  border-radius: 5px;
  color: #fff;
  h2 {
    margin-bottom: 20px;
    color: #fff;
  }
  p {
    color: #fff;
  }
  svg {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  button {
    width: 30%;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 10px;
    border-radius: 4px;
    background: #fff;
    &:hover {
      background: var(--black);
      color: white;
    }
  }
  @media screen and (max-width: 768px) {
    width: 95%;
    padding: 50px 20px;
  }
}

.edit-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 24px;
  label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 40px;
  }
  input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    border: 1px solid rgba(225, 215, 215, 0.15);
    background: transparent;
    border-radius: 0.25rem;
    color: #fff;
  }
  small {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #dc143c;
  }
  a {
    color: #1890ff;
  }
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
