.librarySong-container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background 0.5s ease;
  &:hover {
    background: rgb(197, 212, 243);
  }
}

.selected {
  background: var(--prog);
}

.song-info {
  display: flex;
  img {
    width: 30%;
  }
}

.song-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}
