.library-container {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  p {
    padding-left: 2rem;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

input {
  border: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
  position: relative;

  &::placeholder {
    color: #aaa;
  }
}

.library-nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  h2 {
    margin-left: 2rem;
  }
  button {
    margin-right: 1rem;
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
